
html,body{
    height: 100%;
}

body{
    background-color: #101119;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/*-- wrapper of the page css code--*/
.wrapper{
    width: 100%;
    background-color:#111627; 
    height: 221px;
}
#mainmenu{
    padding-bottom: 100px;
}
.logoarea{
	width:1241px;
	height:356px;
	position:absolute;
	left:50%;
	top:0px;
	margin:78px 0px 0px -688px;
}
.logoarea img{
    width: 619px;
    height: 141px;
    margin: -6px 0px 0px 186px;
}
.Innermainmenu{
	width:1903px;
    margin:-11px 0px 1px -3px;
}
.Innermainmenu ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: right;
}
.Innermainmenu ul li{
    float: none;
    display: inline-block;
}
.Innermainmenu ul li:nth-child(1){
    float: left;  
}
.Innermainmenu ul li:nth-child(2){
    float: left;  
}
.Innermainmenu ul li a{
    color: red;
    font-size: 45px;
    text-transform: uppercase;
    display: block;
    padding: 66px 20px;
    transition: 0.6s all;
    margin-top: 56px;
}
.Innermainmenu a:hover,.active{
    color: dodgerblue;
    transform: scale(1.1);
}

/*-- footer of the page css code--*/
#footer{
    width: 100%;
    background-color:#111627; 
}
#footer{
    background-color: #111627;
    position: absolute;
    height: 100px;
    margin: -100px 0px 0px -8px ;
    clear: both;
}
.followus img{
    width: 205px; 
    height: 54px;
}
.copy{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#1066b1;
    font-size: 55px;
    margin-top: 20px
}
.followus{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#1066b1;
    font-size: 55px;
    margin:-63px 0px 0px 916px;
}
.followus a{
    width: 34px;
}

/*-- contact image of the page css code--*/
.contact{
	width:1241px;
	height:356px;
	position:absolute;
	left:50%;
	top:0px;
	
}

/*-- google map section iframee css code--*/
.mapblock{
    margin: 0px 0px 0px 0px;
    background-color: lightblue;
}
.map{
    margin: 13px 0px 0px 0px;
}
.map iframe {
    border:0; 
    margin:0px 0px  -1168px -190px; 
    border-radius: 14px;
}

/*-- Contact Form of the page css code--*/
.ContactForm{
    width: 76%;
    margin: 353px auto;
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0px 0px white;
    height: 812px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.ContactForm h1{
    margin-left: 228px;
    font-weight: 200px
}

.address1{
    margin:24px auto;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.address1 a{
    color: red;
}
.Western{
    margin-left: 110px;
    color: #f7ec27;
}
.address2{
    margin:-325px 0px 0px 358px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.address2 a{
    color: red;
}
.Mpumalanga{
    margin-left: 130px;
    color: #f7ec27;
}

.Contactheading{
    
    color: red;
    font-size:78px;
}
.ContactForm i{
    color: red;
    }
.right{
    width: 50%;
    height: 729px;
    margin: auto;
    float: right;
    background-color:white;
    border: 1px solid white;
    border-radius: 15px;
    margin: -2px;
}
.txtb{
    border: 6px solid #111627;
    margin: 5px 0px 0px 25px;
    padding: 12px 18px;
    border-radius: 30px;
    width: 621px;
}

.txtb textarea{
    width: 624px;
    height: 207px;
}
.txtb label{
    display: block;
    text-align: left;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
}
.txtb input,.txtb text area{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
}
.send{
    display: inline-block;
    background-color: #c6d2f8;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    border-radius: 30px;
    height: 59px;
    cursor: pointer;
}
.txtb:hover,.btn::active{
    background: #111627;
}
.send{
    font-size: 53px;
    margin: 1px;
    color: red;
}

.left{
    width: 50%;
    height: 813px;
    margin: auto;
    background-color: #575faa;
    float: left;
    border: 1px solid white;
    border-radius: 15px;
}

