
html,body{
    height: 100%;
}

body{
    background-color: #101119;
    height: 100vh;
    background-size: cover;
    background-position: center;
    }
.wrapper{
    width: 100%;
    background-color:#111627; 
}
#mainmenu{
    padding-bottom: 100px;
}
#footer{
    width: 100%;
    background-color:#111627; 
}
.logoarea{
	width:1241px;
	height:356px;
	position:absolute;
	left:50%;
	top:0px;
	margin:90px 0px 0px -688px;
}
.contact{
	width:1241px;
	height:356px;
	position:absolute;
	left:50%;
	top:0px;
	margin-left:59px 0px 0px -719px;
}
.Innermainmenu{
	width:1903px;
	margin:6px 0px 1px -3px;
}
.Innermainmenu ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: right;
}
.Innermainmenu ul li{
    float: none;
    display: inline-block;
}
.Innermainmenu ul li:nth-child(1){
    float: left;  
}
.Innermainmenu ul li:nth-child(2){
    float: left;  
}
.Innermainmenu ul li a{
    color: red;
    font-size: 45px;
    text-transform: uppercase;
    display: block;
    padding: 66px 20px;
    transition: 0.6s all;
}
.Innermainmenu a:hover{
    background-color: dodgerblue;
    }
.ContactForm{
    width: 76%;
    margin: 420px auto;
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0px 0px white;
    height: 812px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.ContactForm h1{
    margin-left: 228px;
    font-weight: 200px
}
.right{
    width: 50%;
    height: 729px;
    margin: auto;
    float: right;
    background-color:white;
    border: 1px solid white;
    border-radius: 15px;
    margin: -2px;
}
.txtb{
    border: 6px solid #111627;
    margin: 5px 0px 0px 25px;
    padding: 12px 18px;
    border-radius: 30px;
    width: 621px;
}
.txtb label{
    display: block;
    text-align: left;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
}
.txtb input,.txtb text area{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
}
.btn{
    display: inline-block;
    background-color: #c6d2f8;
    padding: 14px 0px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    margin: 4px 0px;
    border-radius: 24px;
    height: 27px;
}
.send{
    font-size: 63px;
    margin: -25px;
    color: black;
}

.left{
    width: 50%;
    height: 813px;
    margin: auto;
    background-color: #575faa;
    float: left;
    border: 1px solid white;
    border-radius: 15px;
}
.mapblock{
    margin: 0px 0px 0px 0px;
    background-color: lightblue;
}
.map{
    margin: 13px 0px 0px 0px;
}
.address1{
    margin:24px auto;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Western{
    margin-left: 110px;
    color: #f7ec27;
}
.address2{
    margin:-269px 0px 0px 358px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Mpumalanga{
    margin-left: 130px;
    color: #f7ec27;
}
#footer{
    background-color: #111627;
    position: absolute;
    height: 100px;
    margin: 1178px 0px 0px -232px ;
    clear: both;
}
.copy{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#1066b1;
    font-size: 55px;
    margin-top: 20px
}
.followus{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#1066b1;
    font-size: 55px;
    margin:-63px 0px 0px 916px;
}
.followus a{
    width: 34px;
}
.Contactheading{
    
    color: red;
    font-size:78px;
}